{% extends '_base.html' %}

{% block page_title %}
   لیست کتاب ها
{% endblock %}

{% block content %}

    {% for book in books %}

        <div class="card mt-5">
            <div class="card-header text-white bg-success">
                {{ book.title |capfirst }}
            </div>
            <div class="card-body bg-light ">
                <blockquote class="blockquote mb-0">
                <p>{{ book.description|truncatewords:20 }}...</p>
                 <footer class="blockquote-footer">
                     {{ book.author }}
                 </footer>
                </blockquote>
            <a href="{{ book.get_absolute_url }}" class="btn btn-danger mt-4">جزئیات بیشتر</a>
            </div>
        </div>

    {% endfor %}
    <a class="m-5" href="{% url 'book_create' %}"> <h4>اضافه کردن کتاب جدید</h4></a>

{% endblock %}