{% extends '_base.html' %}

{% block page_title %}
     ایجاد کتاب جدید
{% endblock %}

{% block content %}

    <div class="card border-primary mb-3">
        <div class="card-header"><h3>ایجاد کتاب جدید</h3></div>
        <div class="card-body text-primary">
            <form action="" method="post">
                {% csrf_token %}
                {{ form.as_p }}

                <button type="submit" class="btn btn-success">ثبت کتاب</button>
            </form>

        </div>
    </div>

{% endblock %}

